ACS/LGPL/CommonSoftware/logging/ws/idl/loggingMI.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Gianluca Chiozzi (E.S.O.) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:acslog="urn:schemas-cosylab-com:logging:1.0" 
 targetNamespace="urn:schemas-cosylab-com:logging:1.0" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<!-- xmlns::log="urn:schemas-cosylab-com:loggingMI:1.0" -->
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="acslog:Description" minOccurs="0"/>
				<xs:element ref="acslog:History" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="acslog:Meta" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="Context" type="xs:string"/>
			<xs:attribute name="Release" type="xs:string"/>
			<xs:attribute name="Uri" type="xs:string"/>
			<xs:attribute name="Source" type="xs:string"/>
			<xs:attribute name="Revision" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="History">
		<xs:complexType>
			<xs:attribute name="User" type="xs:string" use="required"/>
			<xs:attribute name="Date" type="xs:string" use="required"/>
			<xs:attribute name="Status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="draft"/>
						<xs:enumeration value="reviewed"/>
						<xs:enumeration value="released"/>
						<xs:enumeration value="obsolete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Meta">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Content" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LogEntry" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="acslog:Data"/>
		</xs:sequence>
		<xs:attribute name="TimeStamp" type="xs:string" use="required"/>
		<xs:attribute name="File" type="xs:string"/>
		<xs:attribute name="Line" type="xs:string"/>
		<xs:attribute name="Routine" type="xs:string"/>
		<xs:attribute name="SourceObject" type="xs:string"/>
		<xs:attribute name="Host" type="xs:string"/>
		<xs:attribute name="Process" type="xs:string"/>
		<xs:attribute name="Context" type="xs:string"/>
		<xs:attribute name="Thread" type="xs:string"/>
		<xs:attribute name="LogId" type="xs:string"/>
		<xs:attribute name="Priority" type="xs:string"/>
		<xs:attribute name="Uri" type="xs:string"/>
		<xs:attribute name="Audience" type="xs:string"/>
                <xs:attribute name="Array" type="xs:string"/>
                <xs:attribute name="Antenna" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="LogEntryWithStack" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="acslog:LogEntry">
				<xs:attribute name="StackId" type="xs:string"/>
				<xs:attribute name="StackLevel" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Alarm">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Archive">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntry">
					<xs:attribute name="Object" type="xs:string" use="required"/>
					<xs:attribute name="Parameter" type="xs:string" use="required"/>
					<xs:attribute name="Type" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Debug">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntry">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntry"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trace">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntry"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notice">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Warning">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Critical">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Alert">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Emergency">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="acslog:LogEntryWithStack"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Log">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="acslog:Header"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="acslog:Trace"/>
					<xs:element ref="acslog:Debug"/>
					<xs:element ref="acslog:Info"/>
					<xs:element ref="acslog:Notice"/>
					<xs:element ref="acslog:Warning"/>
					<xs:element ref="acslog:Error"/>
					<xs:element ref="acslog:Critical"/>
					<xs:element ref="acslog:Alert"/>
					<xs:element ref="acslog:Emergency"/>
					<xs:element ref="acslog:Archive"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

