LGPL/CommonSoftware/bulkDataNT/config/CDB/schemas/BulkDataNTReceiver.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema targetNamespace="urn:schemas-eso-org:BulkDataNTReceiver:1.0"
  xmlns="urn:schemas-eso-org:BulkDataNTReceiver:1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:baci="urn:schemas-cosylab-com:BACI:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"/>

  <xs:complexType name="ReceiverFlowType">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="DDSReceiverFlowConfig" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ReceiverStreamType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="ReceiverFlow" type="ReceiverFlowType"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="DDSReceiverStreamConfig" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="BulkDataNTReceiverType">
    <xs:complexContent>
      <xs:extension base="baci:CharacteristicComponent">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
               <xs:element name="ReceiverStream" type="ReceiverStreamType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="BulkDataNTReceiver" type="BulkDataNTReceiverType"/>
</xs:schema>
