LGPL/CommonSoftware/acserr/ws/idl/ACSError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Bogdan Jeram (European Southern Observatory) -->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Bogdan Jeram (E.S.O.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:acserr="Alma/ACSError" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Alma/ACSError" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- types definition                                                                   -->
	<xs:simpleType name="ErrorType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<!-- Error Code type                                                                    -->
	<xs:simpleType name="ErrorCode">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  type for names that are mapped into class names -->
	<xs:simpleType name="nameType">
		<xs:restriction base="xs:NCName">
			<xs:minLength value="1"/>
			<xs:pattern value="[\c-[.,-]]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  type for java prfix                                                           -->
	<xs:simpleType name="prefixType">
		<xs:restriction base="xs:NCName">
			<xs:minLength value="1"/>
			<xs:pattern value="[\c-[-]]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--        non empty string                                                        -->
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- short description string. Maximal length is 50. If you chang it ,code has to be changed, too !!! -->
	<xs:simpleType name="shortDescriptionString">
		<xs:restriction base="acserr:nonEmptyString">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- definition fpr Member                                                       -->
	<xs:simpleType name="MemberTypes">
		<xs:restriction base="acserr:nonEmptyString">
			<xs:enumeration value="double"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="string"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Type">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Code" maxOccurs="unbounded">
					<xs:complexType>
<!-- so far we do not support members for non error cases

						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="acserr:Member_"/>
						</xs:choice>
-->
						<xs:attribute name="name" type="acserr:nameType" use="required"/>
						<xs:attribute name="shortDescription" type="acserr:shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="acserr:nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
				<xs:element name="ErrorCode" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="acserr:Member_"/>
						</xs:choice>
						<xs:attribute name="name" type="acserr:nameType" use="required"/>
						<xs:attribute name="shortDescription" type="acserr:shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="acserr:nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<xs:attribute name="_suppressExceptionGeneration" type="xs:boolean" default="false"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueErrorCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="acserr:nameType" use="required"/>
			<xs:attribute name="type" type="acserr:ErrorType" use="required"/>
			<xs:attribute name="shortDescription" type="acserr:shortDescriptionString" use="optional"/>
			<xs:attribute name="description" type="acserr:nonEmptyString" use="optional"/>
			<xs:attribute name="URL" type="xs:string" use="optional"/>
			<xs:attribute name="_prefix" type="acserr:prefixType" default="alma"/>
		</xs:complexType>
		<xs:unique name="uniqueErrorCode">
			<xs:selector xpath="./ErrorCode|./Code"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<!-- code/errocode name has to be unique -->
	</xs:element>
	<xs:complexType name="Member_">
		<xs:attribute name="name" type="acserr:nameType" use="required"/>
		<xs:attribute name="type" type="acserr:MemberTypes" use="required"/>
		<xs:attribute name="description" type="acserr:nonEmptyString" use="optional"/>
	</xs:complexType>
</xs:schema>
