LGPL/CommonSoftware/acserr/ws/idl/ACSError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Bogdan Jeram (European Southern Observatory) -->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Bogdan Jeram (E.S.O.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<!--
  Here we cannot have now the targetNamespace, because this would 
  introduce a major backward incompatibility.
  See SPR.: 2006xxxxx
  <xs:schema targetNamespace="Alma/ACSError"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   elementFormDefault="qualified" 
	   attributeFormDefault="unqualified">
	-->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<!-- types definition -->
	<xs:simpleType name="ErrorType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="ErrorCode">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- non empty string -->
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- short description string. Maximal length is 50. If you chang it ,code has to be changed, too !!! -->
	<xs:simpleType name="shortDescriptionString">
		<xs:restriction base="nonEmptyString">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MemberTypes">
		<xs:restriction base="nonEmptyString">
			<xs:enumeration value="double"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="string"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Type">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Code" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="Member_"/>
						</xs:choice>
						<xs:attribute name="name" type="nonEmptyString" use="required"/>
						<xs:attribute name="shortDescription" type="shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
				<xs:element name="ErrorCode" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="Member_"/>
						</xs:choice>
						<xs:attribute name="name" type="nonEmptyString" use="required"/>
						<xs:attribute name="shortDescription" type="shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<xs:attribute name="_suppressExceptionGeneration" type="xs:boolean" default="false"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueErrorCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="nonEmptyString" use="required"/>
			<xs:attribute name="type" type="ErrorType" use="required"/>
			<xs:attribute name="shortDescription" type="shortDescriptionString" use="optional"/>
			<xs:attribute name="description" type="nonEmptyString" use="optional"/>
			<xs:attribute name="URL" type="xs:string" use="optional"/>
			<xs:attribute name="_prefix" type="xs:string" default="alma"/>
		</xs:complexType>
		<xs:unique name="uniqueErrorCode">
			<xs:selector xpath="./ErrorCode|./Code"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<!-- code/errocode name has to be unique -->
	</xs:element>
	<xs:complexType name="Member_">
		<xs:attribute name="name" type="nonEmptyString" use="required"/>
		<xs:attribute name="type" type="MemberTypes" use="required"/>
		<xs:attribute name="description" type="nonEmptyString" use="optional"/>
	</xs:complexType>
</xs:schema>
