LGPL/CommonSoftware/acscommandcenter/idl/AcsCommandCenterTools.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->

<xsd:schema 
 targetNamespace="Alma/Acs/AcsCommandCenterTools" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 elementFormDefault="qualified">
	<xsd:element name="AcsCommandCenterTools">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tool" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="caption" type="xsd:string"/>
							<xsd:element name="command" type="xsd:string"/>
							<xsd:element name="insertion" maxOccurs="unbounded">
								<xsd:complexType mixed="true">
									<xsd:choice minOccurs="0">
										<xsd:element name="default" type="xsd:string"/>
									</xsd:choice>
									<xsd:attribute name="source" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="input"/>
												<xsd:enumeration value="model"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="maxStartupSeconds" type="xsd:integer" default="-1"/>
							<xsd:element name="expectedOutput" type="xsd:string" default=""/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

