ACS/LGPL/CommonSoftware/acstestentities/idl/TestValueTypes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- definitions adopted from ICD/HLA/DataModel generated schemas 2004-09-02 -->
<!-- ***************************************************************************
 * ALMA - Atacama Large Millimeter Array
 * Copyright (c) ESO - European Southern Observatory, 2011
 * (in the framework of the ALMA collaboration).
 * All rights reserved.
 * 
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307  USA
 ******************************************************************************* -->

<xsd:schema 
	targetNamespace="AlmaTest/ValueTypes"
	xmlns:tval="AlmaTest/ValueTypes" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" 
	>

  <xsd:complexType name="DoubleWithUnitT">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="unit" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <!-- generated from PhysicalQuantity 'Angle' -->
  <xsd:complexType name="AngleT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="XX" />
              <xsd:enumeration value="YY" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <!-- generated from PhysicalQuantity 'Length' -->
  <xsd:complexType name="LengthT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="mm" />
              <xsd:enumeration value="cm" />
              <xsd:enumeration value="m" />
              <xsd:enumeration value="km" />
              <xsd:enumeration value="pc" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Speed' -->
  <xsd:complexType name="SpeedT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="m/s" />
              <xsd:enumeration value="km/h" />
              <xsd:enumeration value="kt" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Frequency' -->
  <xsd:complexType name="FrequencyT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="MHz" />
              <xsd:enumeration value="GHz" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from ValueType 'SkyCoordinates' -->
  <xsd:complexType name="SkyCoordinatesT">
    <xsd:sequence>
      <xsd:element name="Longitude" type="tval:LongitudeT" />
      <xsd:element name="Latitude" type="tval:LatitudeT" />
    </xsd:sequence>
    <xsd:attribute name="System">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="B1950" />
          <xsd:enumeration value="J2000" />
          <xsd:enumeration value="galactic" />
          <xsd:enumeration value="horizon" />
          <xsd:enumeration value="azel" />
          <xsd:enumeration value="appradec" />
          <xsd:enumeration value="hadec" />
          <xsd:enumeration value="mount" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <!-- generated from ValueType 'Velocity' -->
  <xsd:complexType name="VelocityT">
    <xsd:sequence>
      <xsd:element name="CenterVelocity" type="tval:SpeedT" />
    </xsd:sequence>
    <xsd:attribute name="referenceSystem">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="lsr" />
          <xsd:enumeration value="hel" />
          <xsd:enumeration value="bar" />
          <xsd:enumeration value="obs" />
          <xsd:enumeration value="ear" />
          <xsd:enumeration value="topo" />
          <xsd:enumeration value="lsrk" />
          <xsd:enumeration value="lsrd" />
          <xsd:enumeration value="gal" />
          <xsd:enumeration value="cmb" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Flux' -->
  <xsd:complexType name="FluxT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="XX" />
              <xsd:enumeration value="YY" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Time' -->
  <xsd:complexType name="TimeT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="XX" />
              <xsd:enumeration value="YY" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'AngularVelocity' -->
  <xsd:complexType name="AngularVelocityT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="XX" />
              <xsd:enumeration value="YY" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'SmallAngle' -->
  <xsd:complexType name="SmallAngleT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="XX" />
              <xsd:enumeration value="YY" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Sensitivity' -->
  <xsd:complexType name="SensitivityT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Jy" />
              <xsd:enumeration value="mJy" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Longitude' -->
  <xsd:complexType name="LongitudeT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" type="xsd:string" use="required" fixed="deg" />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'Latitude' -->
  <xsd:complexType name="LatitudeT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" type="xsd:string" use="required" fixed="deg" />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'IntTimeReference' -->
  <xsd:complexType name="IntTimeReferenceT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="min" />
              <xsd:enumeration value="s" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- generated from PhysicalQuantity 'IntTimeSource' -->
  <xsd:complexType name="IntTimeSourceT">
    <xsd:simpleContent>
      <xsd:restriction base="tval:DoubleWithUnitT">
        <xsd:attribute name="unit" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="min" />
              <xsd:enumeration value="s" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>