ACS/LGPL/CommonSoftware/acserr/ws/idl/ACSError.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Bogdan Jeram (European Southern Observatory) -->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Bogdan Jeram (E.S.O.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:acserr="Alma/ACSError" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Alma/ACSError" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:common="urn:schemas-cosylab-com:COMMONTYPES:1.0">
<xs:import namespace="urn:schemas-cosylab-com:COMMONTYPES:1.0" schemaLocation="commontypes.xsd"/>
	<xs:simpleType name="ErrorType">
		<xs:annotation>
			<xs:documentation>
Just a non negative integer used at the type definition.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="ErrorCode">
                <xs:annotation>
                        <xs:documentation>
Not used. Check if it can be removed.
                        </xs:documentation>
                </xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Type">
                <xs:annotation>
                        <xs:documentation>
This element is used to describe and group together all the error definitions in the same file.
                        </xs:documentation>
                </xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Code" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
Here are the definitions for an ACSCompletion.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
<!-- so far we do not support members for non error cases

						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="acserr:Member_"/>
						</xs:choice>
-->
						<xs:attribute name="name" type="common:nameType" use="required"/>
						<xs:attribute name="shortDescription" type="common:shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="common:nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
				<xs:element name="ErrorCode" maxOccurs="unbounded">
                                        <xs:annotation>
                                                <xs:documentation>
Here are the definitions for an ACSException.
                                                </xs:documentation>
                                        </xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Member" type="common:Member_"/>
						</xs:choice>
						<xs:attribute name="name" type="common:nameType" use="required"/>
						<xs:attribute name="shortDescription" type="common:shortDescriptionString" use="required"/>
						<xs:attribute name="description" type="common:nonEmptyString" use="required"/>
						<xs:attribute name="URL" type="xs:string" use="optional"/>
						<xs:attribute name="_suppressExceptionGeneration" type="xs:boolean" default="false"/>
						<!-- 						<xs:attribute name="code" type="ErrorCode" use="required"/> -->
					</xs:complexType>
					<xs:unique name="uniqueErrorCodeMember">
						<xs:selector xpath="./Member"/>
						<xs:field xpath="@name"/>
					</xs:unique>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="common:nameType" use="required"/>
			<xs:attribute name="type" type="acserr:ErrorType" use="required"/>
			<xs:attribute name="shortDescription" type="common:shortDescriptionString" use="optional"/>
			<xs:attribute name="description" type="common:nonEmptyString" use="optional"/>
			<xs:attribute name="URL" type="xs:string" use="optional"/>
			<xs:attribute name="_prefix" type="common:prefixType" default="alma"/>
		</xs:complexType>
		<xs:unique name="uniqueErrorCode">
			<xs:selector xpath="./ErrorCode|./Code"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<!-- code/errocode name has to be unique -->
	</xs:element>
</xs:schema>

